.Logo, .LogoSidebar {
    height: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: white;
    height: 100%;
}

.LogoSidebar {
    margin-left: -32px;
}

.Logo img, .LogoSidebar img {
    height: 100%;
}